<template>
    <v-container>
        <ConnectGuide />
        <MainChat />
    </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ConnectGuide from "@/components/ConnectGuide.vue";
import MainChat from "@/components/MainChat.vue";

@Component({
    components: {
        ConnectGuide,
        MainChat
    }
})
export default class Home extends Vue {}
</script>
