<template>
    <div class="ConnectGuide">
        <v-dialog persistent :value="connectionTypeModal" max-width="300">
            <v-card>
                <v-card-title class="headline">Connect as ...</v-card-title>
                <v-divider></v-divider>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text @click="startGuide('host')"
                        >Host</v-btn
                    >
                    <v-btn color="secondary" text @click="startGuide('client')"
                        >Client</v-btn
                    >
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog :value="hostStepper && !(stepperStep === 3 && shouldClose)">
            <v-stepper :value="stepperStep">
                <v-stepper-header>
                    <v-stepper-step :complete="stepperStep > 1" step="1"
                        >Generate Offer</v-stepper-step
                    >

                    <v-divider></v-divider>

                    <v-stepper-step :complete="stepperStep > 2" step="2"
                        >Accept Anser</v-stepper-step
                    >

                    <v-divider></v-divider>

                    <v-stepper-step step="3">Status</v-stepper-step>
                </v-stepper-header>

                <v-stepper-items>
                    <v-stepper-content step="1">
                        <p>Send this offer to the client</p>
                        <v-textarea
                            full-width
                            height="200px"
                            :value="JSON.stringify(offer)"
                            filled
                            readonly
                        ></v-textarea>
                        <v-row justify="end">
                            <v-btn color="primary" @click="stepperStep = 2"
                                >Continue</v-btn
                            >
                            <v-btn text>Cancel</v-btn>
                        </v-row>
                    </v-stepper-content>

                    <v-stepper-content step="2">
                        <p>Enter the answer you received from the host</p>
                        <v-textarea
                            full-width
                            height="200px"
                            v-model="answerString"
                            filled
                        ></v-textarea>
                        <v-row justify="end">
                            <v-btn
                                color="primary"
                                @click="
                                    acceptAnswer();
                                    stepperStep = 3;
                                "
                                >Continue</v-btn
                            >
                        </v-row>
                    </v-stepper-content>

                    <v-stepper-content step="3">
                        <p>Wait</p>
                    </v-stepper-content>
                </v-stepper-items>
            </v-stepper>
        </v-dialog>
        <v-dialog :value="clientStepper && !(stepperStep === 3 && shouldClose)">
            <v-stepper :value="stepperStep">
                <v-stepper-header>
                    <v-stepper-step :complete="stepperStep > 1" step="1"
                        >Accept Offer</v-stepper-step
                    >

                    <v-divider></v-divider>

                    <v-stepper-step :complete="stepperStep > 2" step="2"
                        >Create Answer</v-stepper-step
                    >

                    <v-divider></v-divider>

                    <v-stepper-step step="3">Status</v-stepper-step>
                </v-stepper-header>

                <v-stepper-items>
                    <v-stepper-content step="1">
                        <p>Enter the offer you received from the host</p>
                        <!-- <v-card class="mb-12"  height="200px"> -->
                        <v-textarea
                            height="200px"
                            full-width
                            filled
                            v-model="offerString"
                        ></v-textarea>
                        <!-- </v-card> -->
                        <v-row justify="end">
                            <v-btn
                                color="primary"
                                @click="
                                    acceptOffer();
                                    stepperStep = 2;
                                "
                                >Continue</v-btn
                            >
                        </v-row>
                    </v-stepper-content>

                    <v-stepper-content step="2">
                        <p>Send this answer to the host</p>
                        <v-textarea
                            height="200px"
                            full-width
                            filled
                            :value="JSON.stringify(answer)"
                        ></v-textarea>
                        <v-btn color="primary" @click="stepperStep = 3"
                            >Continue</v-btn
                        >

                        <v-btn text>Cancel</v-btn>
                    </v-stepper-content>

                    <v-stepper-content step="3">
                        <p>Wait</p>
                    </v-stepper-content>
                </v-stepper-items>
            </v-stepper>
        </v-dialog>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";

enum ConnectionType {
    Host = "host",
    Client = "client"
}

@Component
export default class ConnectGuide extends Vue {
    connectionTypeModal = true;
    hostStepper = false;
    clientStepper = false;
    stepperStep = 1;
    offerString = "";
    answerString = "";
    candidates = [] as RTCIceCandidate[];
    shouldClose = false;
    // configuration = { iceServers: [{ urls: "stun:stun.l.google.com:19302" }] };
    configuration = {
        iceServers: [
            {
                urls: [
                    "stun:stun.l.google.com:19302",
                    "stun:stun1.l.google.com:19302",
                    "stun:stun2.l.google.com:19302"
                ]
            }
        ]
    };
    offer = null as null | RTCSessionDescriptionInit;
    answer = null as null | RTCSessionDescriptionInit;
    startGuide(connType: ConnectionType) {
        this.connectionTypeModal = false;
        if (connType == ConnectionType.Host) {
            this.hostStepper = true;
            this.makeOffer();
        } else if (connType == ConnectionType.Client) {
            this.clientStepper = true;
        }
        this.stepperStep = 1;
    }
    mounted() {
        this.createConnectionIfNotExists();
    }
    createConnectionIfNotExists() {
        if (!this.$store.state.rtcPeerConnection) {
            const newConnection = new RTCPeerConnection(this.configuration);
            this.$store.commit("setRtcPeerConnection", newConnection);
            // setInterval(() => {
            //     console.log(newConnection);
            // }, 2000);
        }
        const peerConnection = this.$store.state
            .rtcPeerConnection as RTCPeerConnection;
        peerConnection.onconnectionstatechange = event => {
            console.log(event);
            console.log(peerConnection);
            if (peerConnection.connectionState === "connected") {
                console.log("PEER IS connected");
                // this.clientStepper = false;
                // this.hostStepper = false;
                this.shouldClose = true;
            }
        };
        peerConnection.oniceconnectionstatechange = () => {
            console.log(peerConnection.iceConnectionState);
            console.log(peerConnection.localDescription?.sdp);
            if (peerConnection) {
                console.log(peerConnection.iceConnectionState);
                if (peerConnection.iceConnectionState === "connected") {
                    console.log("ICE IS connected");
                    // this.clientStepper = false;
                    // this.hostStepper = false;
                    this.shouldClose = true;
                }
            }
        };
        // peerConnection.onicecandidate = e => {
        //     if (!e.candidate) {
        //         console.log(peerConnection.localDescription?.sdp);
        //         this.offer = peerConnection.localDescription;
        //     }
        // };
    }

    async makeOffer() {
        this.createConnectionIfNotExists();
        const peerConnection = this.$store.state
            .rtcPeerConnection as RTCPeerConnection;
        const dataChannel = peerConnection.createDataChannel("dataChannel");
        const fileChannel = peerConnection.createDataChannel("fileChannel");
        const file2Channel = peerConnection.createDataChannel("file2Channel");
        fileChannel.binaryType = "arraybuffer";
        file2Channel.binaryType = "arraybuffer";
        this.$store.commit("setDataChannel", dataChannel);
        this.$store.commit("setFileChannel", fileChannel);
        this.$store.commit("setFile2Channel", file2Channel);
        peerConnection.onicecandidate = e => {
            console.log(e);
            this.offer = peerConnection.localDescription;
            if (!e.candidate) {
                console.log("done");
                console.log(peerConnection.localDescription?.sdp);
            }
        };
        const offer = await peerConnection.createOffer();
        await peerConnection.setLocalDescription(offer);
        // this.offer = offer;
        // peerConnection.onicecandidate = async event => {
        //     console.log(event);
        //     if (event.candidate) {
        //         this.candidates.push(event.candidate);
        //         // try {
        //         //     await peerConnection.addIceCandidate(event.candidate);
        //         // } catch (e) {
        //         //     console.error("Error adding received ice candidate", e);
        //         // }
        //     }
        // };
    }

    async acceptOffer() {
        console.log(this.offerString);
        this.offer = JSON.parse(this.offerString);
        this.createConnectionIfNotExists();
        const peerConnection = this.$store.state
            .rtcPeerConnection as RTCPeerConnection;
        peerConnection.setRemoteDescription(this.offer!);
        peerConnection.onicecandidate = e => {
            console.log(e);
            this.answer = peerConnection.localDescription;
            if (!e.candidate) {
                console.log(peerConnection.localDescription?.sdp);
            } else {
                // peerConnection.addIceCandidate(e.candidate);
            }
        };
        const answer = await peerConnection.createAnswer();
        await peerConnection.setLocalDescription(answer);
        this.answer = answer;
        // peerConnection.onicegatheringstatechange = e => {
        //     console.log(e);
        // };
        // peerConnection.onicecandidate = async event => {
        //     console.log(event);
        //     if (event.candidate) {
        //         try {
        //             await peerConnection.addIceCandidate(event.candidate);
        //         } catch (e) {
        //             console.error("Error adding received ice candidate", e);
        //         }
        //     }
        // };
        peerConnection.ondatachannel = e => {
            if (e.channel.label === "dataChannel") {
                this.$store.commit("setDataChannel", e.channel);
                console.log("data Connected");
                this.clientStepper = false;
                this.hostStepper = false;
            } else if (e.channel.label === "fileChannel") {
                this.$store.commit("setFile2Channel", e.channel);
                e.channel.binaryType = "arraybuffer";
                console.log("og file which is now file 2 Connected");
            } else if (e.channel.label === "file2Channel") {
                this.$store.commit("setFileChannel", e.channel);
                e.channel.binaryType = "arraybuffer";
                console.log("og file2 which is now file Connected");
            }
        };
    }
    async acceptAnswer() {
        console.log(this.answerString);
        this.answer = JSON.parse(this.answerString);
        this.createConnectionIfNotExists();
        const peerConnection = this.$store.state
            .rtcPeerConnection as RTCPeerConnection;
        peerConnection.setRemoteDescription(this.answer!);
        // for (const candidate of this.candidates) {
        //     try {
        //         await peerConnection.addIceCandidate(candidate);
        //     } catch (e) {
        //         console.error("Error adding received ice candidate", e);
        //     }
        // }
        // peerConnection.onicecandidate = async event => {
        //     console.log(event);
        // if (event.candidate) {
        //     try {
        //         await peerConnection.addIceCandidate(event.candidate);
        //     } catch (e) {
        //         console.error("Error adding received ice candidate", e);
        //     }
        // }
        // };
    }

    @Watch("$store.state.dataChannel", { immediate: true, deep: true })
    onDataChannelChange(newVal: RTCDataChannel | null) {
        if (newVal) {
            newVal.onopen = event => {
                console.log("data channel open");
                // this.clientStepper = false;
                // this.hostStepper = false;
                this.shouldClose = true;
            };
        }
    }
    @Watch("$store.state.fileChannel", { immediate: true, deep: true })
    onFileChannelChange(newVal: RTCDataChannel | null) {
        if (newVal) {
            newVal.onopen = event => {
                console.log("file channel open");
                this.shouldClose = true;
            };
        }
    }
    @Watch("$store.state.file2Channel", { immediate: true, deep: true })
    onFile2ChannelChange(newVal: RTCDataChannel | null) {
        if (newVal) {
            newVal.onopen = event => {
                console.log("file 2 channel open");
                this.shouldClose = true;
            };
        }
    }
}
</script>

<style lang="scss" scoped></style>
