<template>
    <v-container>
        <v-row align="center" justify="center">
            <p class="text-h4">Start Chatting</p>
        </v-row>
        <br />
        <br />
        <v-card height="300px" max-height="300px">
            <v-virtual-scroll
                :items="messages"
                height="300px"
                item-height="50"
                ref="chatScroll"
            >
                <template v-slot="{ item }">
                    <v-list-item :key="JSON.stringify(item)">
                        <v-list-item-content>
                            <v-list-item-content>
                                {{ item.sender }} : {{ item.message }}
                            </v-list-item-content>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-virtual-scroll>
        </v-card>
        <br />

        <v-container>
            <v-row>
                <v-col cols="10">
                    <v-text-field
                        filled
                        v-model="chatSendText"
                        @keypress.enter="sendMessage"
                    ></v-text-field>
                </v-col>
                <v-col cols="2">
                    <v-row align="center" justify="center">
                        <v-btn fab dark color="primary" @click="sendMessage">
                            <v-icon dark>mdi-send</v-icon>
                        </v-btn>
                    </v-row>
                </v-col>
            </v-row>
        </v-container>

        <br />
        <br />
        <v-row>
            <v-col cols="6">
                <v-card height="225px">
                    <v-card-text>
                        <v-container fluid>
                            <v-row justify="center">
                                <p class="text-subtitle">
                                    Send file
                                </p>
                            </v-row>
                            <v-row>
                                <v-file-input
                                    show-size
                                    v-model="fileToSend"
                                ></v-file-input>
                            </v-row>

                            <template v-if="uploadingFileInfo">
                                <v-row>
                                    <v-progress-linear
                                        v-model="fileUploadProgress"
                                    ></v-progress-linear>
                                </v-row>
                                <v-row>
                                    <v-col cols="6">
                                        <p>{{ uploadingFileInfo.fileName }}</p>
                                    </v-col>
                                    <v-col cols="3">
                                        <p>
                                            {{
                                                prettyb(
                                                    uploadingFileInfo.fileSize
                                                )
                                            }}
                                        </p>
                                    </v-col>
                                </v-row>
                                <br />
                            </template>
                            <v-row justify="center" v-else>
                                <v-btn color="primary" @click="sendFile()"
                                    >Send</v-btn
                                >
                            </v-row>
                        </v-container>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="6">
                <v-card height="225px">
                    <v-container fluid class="fileContainer">
                        <v-col height="100%" justify="center" align="center">
                            <v-row justify="center">
                                <p class="text-subtitle">
                                    Receive File
                                </p>
                            </v-row>
                            <template v-if="incomingFileInfo">
                                <v-row>
                                    <v-col cols="6">
                                        <p>{{ incomingFileInfo.fileName }}</p>
                                    </v-col>
                                    <v-col cols="3">
                                        <p>
                                            {{
                                                prettyb(
                                                    incomingFileInfo.fileSize
                                                )
                                            }}
                                        </p>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-progress-linear
                                        v-model="fileDownloadProgress"
                                    ></v-progress-linear>
                                </v-row>
                                <br />
                            </template>
                            <v-row justify="center" v-if="fileReceived">
                                <v-btn color="primary" @click="downloadFile()"
                                    >Save</v-btn
                                >
                            </v-row>
                        </v-col>
                    </v-container>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import prettyBytes from "pretty-bytes";

interface Message {
    sender: "you" | "peer";
    message: string;
}

interface FileInfo {
    fileName: string;
    fileSize: number;
}

@Component
export default class MainChat extends Vue {
    chatSendText = "";
    messages = [] as Message[];
    fileToSend = null as null | File;
    fileReceived = null as null | Blob;
    incomingFileInfo = null as null | FileInfo;
    uploadingFileInfo = null as null | FileInfo;
    incomingFileData = [] as ArrayBuffer[];
    BYTES_PER_CHUNK = 64000;
    CHUNKS_PER_PARTITION = 16;
    downloadInProgress = false;
    bytesUploaded = 0;
    bytesReceived = 0;
    currentChunkUploaded = 0;
    currentChunkDownloaded = 0;
    sendMessage() {
        console.log(this.chatSendText);
        if (!this.$store.state.dataChannel) return;
        const dataChannel = this.$store.state.dataChannel as RTCDataChannel;
        dataChannel.send(this.chatSendText);
        this.messages.push({
            sender: "you",
            message: this.chatSendText
        });
        this.chatSendText = "";
    }

    prettyb(bytes: number) {
        return prettyBytes(bytes);
    }

    async sendFile() {
        console.log(this.fileToSend);
        if (!this.fileToSend) return;
        this.uploadingFileInfo = {
            fileName: this.fileToSend.name,
            fileSize: this.fileToSend.size
        };
        const fileChannel = this.$store.state.fileChannel as RTCDataChannel;
        // const fileBuffer = await this.fileToSend.arrayBuffer();
        // fileChannel.send(fileBuffer);
        this.currentChunkUploaded = 0;
        this.bytesUploaded = 0;
        const fileReader = new FileReader();
        fileChannel.send(
            JSON.stringify({
                fileName: this.fileToSend.name,
                fileSize: this.fileToSend.size
            })
        );
        const readNextChunk = () => {
            var start = this.BYTES_PER_CHUNK * this.currentChunkUploaded;
            var end = Math.min(
                this.fileToSend!.size,
                start + this.BYTES_PER_CHUNK
            );
            fileReader.readAsArrayBuffer(this.fileToSend!.slice(start, end));
        };

        const waitForReceiveConfirmation = async (chunkNum: number) => {
            await new Promise(r => {
                const handlerFunction = (e: MessageEvent) => {
                    try {
                        if (e.data === chunkNum.toString()) {
                            r(null);
                            fileChannel.removeEventListener(
                                "message",
                                handlerFunction
                            );
                        }
                    } catch (e) {
                        console.log(e);
                    }
                };

                fileChannel.addEventListener("message", handlerFunction);
            });
        };

        fileReader.onload = async () => {
            fileChannel.send(fileReader.result as ArrayBuffer);
            this.currentChunkUploaded++;
            if (this.currentChunkUploaded % this.CHUNKS_PER_PARTITION === 0) {
                await waitForReceiveConfirmation(this.currentChunkUploaded);
            }
            this.bytesUploaded += this.BYTES_PER_CHUNK;

            console.log(this.bytesUploaded);
            console.log(this.uploadingFileInfo?.fileSize);
            console.log(
                "progress: " +
                    (
                        (this.bytesUploaded /
                            this.uploadingFileInfo!.fileSize) *
                        100
                    ).toFixed(2) +
                    "%"
            );

            if (
                this.BYTES_PER_CHUNK * this.currentChunkUploaded <
                this.fileToSend!.size
            ) {
                readNextChunk();
            }
        };
        readNextChunk();
    }

    downloadFile() {
        console.log(this.fileReceived);
        if (!this.fileReceived || !this.incomingFileInfo) return;
        const a = document.createElement("a");
        a.href = URL.createObjectURL(this.fileReceived);
        a.download = this.incomingFileInfo.fileName;
        a.click();
    }

    startDownload(data: string) {
        this.incomingFileInfo = JSON.parse(data);
        this.incomingFileData = [];
        this.bytesReceived = 0;
        this.currentChunkDownloaded = 0;
        this.downloadInProgress = true;
    }

    progressDownload(data: ArrayBuffer) {
        if (!this.incomingFileInfo) return;
        const file2Channel = this.$store.state.file2Channel as RTCDataChannel;
        this.bytesReceived += data.byteLength;
        this.currentChunkDownloaded++;
        if (this.currentChunkDownloaded % this.CHUNKS_PER_PARTITION === 0) {
            file2Channel.send(this.currentChunkDownloaded.toString());
        }
        this.incomingFileData.push(data);

        console.log(this.bytesReceived);
        console.log(this.incomingFileInfo.fileSize);
        console.log(
            "progress: " +
                (
                    (this.bytesReceived / this.incomingFileInfo.fileSize) *
                    100
                ).toFixed(2) +
                "%"
        );

        if (this.bytesReceived === this.incomingFileInfo.fileSize) {
            this.endDownload();
        }
    }

    endDownload() {
        this.downloadInProgress = false;
        this.fileReceived = new Blob(this.incomingFileData);
    }

    get fileUploadProgress() {
        if (!this.uploadingFileInfo) {
            return 0;
        }
        return Math.round(
            (this.bytesUploaded / this.uploadingFileInfo.fileSize) * 100
        );
    }

    get fileDownloadProgress() {
        if (!this.incomingFileInfo) {
            // this.fileDownloadProgress = 0;
            // console.log("huhuhuh");
            return 0;
        }
        return Math.round(
            (this.bytesReceived / this.incomingFileInfo.fileSize) * 100
        );
    }

    @Watch("$store.state.dataChannel", { immediate: true, deep: true })
    onDataChannelChange(newVal: RTCDataChannel | null) {
        console.log(newVal);
        if (newVal) {
            newVal.onopen = event => {
                console.log("data channel open");
            };
            newVal.onmessage = event => {
                this.messages.push({
                    sender: "peer",
                    message: event.data
                });
            };
        }
    }
    @Watch("$store.state.file2Channel", { immediate: true, deep: true })
    onFile2ChannelChange(newVal: RTCDataChannel | null) {
        console.log(newVal);
        console.log(10);
        if (newVal) {
            newVal.onmessage = event => {
                // console.log(event.data);
                // console.log("ohno");
                if (this.downloadInProgress === false) {
                    // this.fileReceived = null;
                    this.startDownload(event.data);
                } else {
                    this.progressDownload(event.data);
                }
            };
        }
    }
    @Watch("messages", { immediate: true, deep: true })
    onMessage(newVal: Message[]) {
        setTimeout(() => {
            // const chatScroll = this.$refs.chatScroll as HTMLElement;

            const chatScroll = document.querySelector(
                ".v-virtual-scroll"
            ) as HTMLElement;
            // console.log(chatScroll);
            // console.log(chatScroll.innerHTML);
            chatScroll.scrollTop = chatScroll.scrollHeight + 99999999;
        }, 200);
    }
    @Watch("fileToSend")
    onFileToSendChange() {
        this.uploadingFileInfo = null;
    }
}
</script>

<style lang="scss" scoped>
// .v-list {
//     height: 200px; /* or any height you want */
//     overflow-y: auto;
// }

.fileContainer {
    height: 100%;
}
// .v-progress-linear__bar,
// .v-progress-linear__bar__determinate {
//     transition: none;
// }
</style>
