<template>
    <v-app>
        <v-app-bar app color="primary" dark>
            <div class="d-flex align-center">
                <v-toolbar-title class="text-center">Webrtc Chat Serverless</v-toolbar-title>
            </div>
            <v-spacer></v-spacer>
        </v-app-bar>

        <v-main>
            <v-container class="fill-height" fluid>
                <div class="main-content">
                    <router-view />
                </div>
            </v-container>
        </v-main>
    </v-app>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
    name: "App",
    data: () => ({
        //
    }),
});
</script>

<style lang="scss">
.main-content {
    width: 100%;
    height: 100%;
}
</style>